{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: url({% static 'images/login.jpg' %});background-repeat: no-repeat;background-size: cover;" >
<h1 style=color:red>LOGIN</h1>
<form action="login" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter user name"> <br>
    <input type="password" name="password" placeholder="Enter password"> <br>
    <input type="submit"> <br>
</form>
{% for msg in messages %}
<h2 style=color:red>{{msg}}</h2>
{% endfor %}
</body>
</html>